.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 5px;
}

.form__button {
  color: #fff;
  background-color: #1878dc;
  transition: background-color 1s linear 2s;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 32px;
  width: 100%;
  border: none;
  padding: 20px 0;
  cursor: pointer;
  transition: background-color 1s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}
