.page {
  font-family: Inter, Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display:flex
  flex-direction: column;
  height: 100vh;

}

.recipes {
}

.reservations {
}

.menu {
}

.about {
}

.footer {
}
